<h1>Admin Shelters Index</h1>

<% @shelters.reverse_alpha_order.each do |shelter| %>
  <p><%= link_to "#{shelter.name}", "/admin/shelters/#{shelter.id}" %></p>
<% end %>
<h3>Shelters with pending applications</h3>
<% @shelters.shelters_with_pending_app.each do |shelter| %>
  <p><%= link_to "#{shelter.name}", "/admin/shelters/#{shelter.id}" %></p>
<% end %>
